**1. Write a Python Program to Find the Factorial of a Number?**

In [1]:
def factorial(num):
    factorial = 1
    if num < 0:
       return ("Sorry, factorial does not exist for negative numbers")
    elif num == 0:
       return ("The factorial of 0 is 1")
    else:
       for i in range(1,num + 1):
           factorial = factorial*i
       return (f"The factorial of {num} is {factorial}")

factorial(5)

'The factorial of 5 is 120'

**2. Write a Python Program to Display the multiplication Table?**

In [2]:
def multiplication_table(num):
    for i in range(1, 11):
       print(num, 'x', i, '=', num*i)
       
multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**3. Write a Python Program to Print the Fibonacci sequence?**

In [3]:

def fibonacci(nterms):
    n1, n2 = 0, 1
    count = 0
    if nterms <= 0:
        print("Please enter a positive integer")
    elif nterms == 1:
       print("Fibonacci sequence upto",nterms,":")
       return (n1)
    else:
       print("Fibonacci sequence:")
       l =[]
       while count < nterms:
           l.append(n1)
           nth = n1 + n2
       # update values
           n1 = n2
           n2 = nth
           count += 1
    return l

fibonacci(8)

Fibonacci sequence:

[0, 1, 1, 2, 3, 5, 8, 13]

**4. Write a Python Program to Check Armstrong Number?**

In [4]:
def armstrong(num):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum:
       return (f"{num} is an Armstrong number")
    else:
       return (f"{num} is not an Armstrong number")
    
print(armstrong(123))
print(armstrong(8208))

123 is not an Armstrong number
8208 is an Armstrong number

**5. Write a Python Program to Find Armstrong Number in an Interval?**

In [5]:
def armstrong_interval(lower,upper):
    print("Armstrong numbers between", lower, "and", upper, "are:")
    l = []
    for num in range(lower, upper + 1):
        order = len(str(num))
        sum = 0
        temp = num
        while temp > 0:
            digit = temp % 10
            sum += digit ** order
            temp //= 10
        if num == sum:
          l.append(num)
    return (l)

armstrong_interval(10,10000)

Armstrong numbers between 10 and 10000 are:

[153, 370, 371, 407, 1634, 8208, 9474]

**6. Write a Python Program to Find the Sum of Natural Numbers?**

In [6]:
def natural_sum(num):
    if num < 0:
       print("Enter a positive number")
    else:
       sum = 0
   # use while loop to iterate until zero
       while(num > 0):
           sum += num
           num -= 1
       return (f"The sum is {sum}")

natural_sum(10)

'The sum is 55'