<a href="https://colab.research.google.com/github/subhashdixit/Ineuron_Python_Assignments/blob/main/Python_Basic_Programming/Programming_Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Write a Python program to find sum of elements in list?**

In [1]:
def sum_element(l):
    return sum(l)
print(sum_element([1,2,3,4,5]))

15

**2. Write a Python program to Multiply all numbers in the list?**

In [2]:

import numpy as np
def multiply_list_elements(l):
  return np.prod(l)
print(multiply_list_elements([1,2,3]))

6

**3. Write a Python program to find smallest number in a list?**

In [3]:
def min_element_in_list(l):
  return min(l)
print(min_element_in_list([1,3,67,8,4,4]))

1

**4. Write a Python program to find largest number in a list?**

In [4]:
def max_element_in_list(l):
  return min(l)
print(max_element_in_list([1,3,67,8,4,4]))

1

**5. Write a Python program to find second largest number in a list?**

In [5]:
def seconed_largest_element_in_list(l):
  l.sort()
  return l[1]
print(seconed_largest_element_in_list([9,2,5,7,3,6,435]))

3

**6. Write a Python program to find N largest elements from a list?**

In [6]:
def N_largest_element_in_list(l,n):
    l.sort()
    return (f"N largest elements are {l[-n:]}")
print(N_largest_element_in_list([2,4,67,435,657,45,3,3], 5))

N largest elements are [4, 45, 67, 435, 657]

**7. Write a Python program to print even numbers in a list?**

In [7]:
def print_even_in_list(l):
  return [i for i in l if i % 2==0]
print(print_even_in_list([2,3,5,7,8,9,34]))

[2, 8, 34]

**8. Write a Python program to print odd numbers in a List?**

In [8]:
def print_odd_in_list(l):
  return [i for i in l if i % 2 != 0 ]
print(print_odd_in_list([2,3,5,7,8,9,34]))

[3, 5, 7, 9]

**9. Write a Python program to Remove empty List from List?**

In [9]:
def remover_empty_list(l):
    res = list(filter(None, l))
    return (f"List after empty list removal {str(res)}")

print(remover_empty_list([5, 6, [], 3, [], [], 9]))

List after empty list removal [5, 6, 3, 9]

**10. Write a Python program to Cloning or Copying a list?**

In [10]:
def Cloning(l):
    l1_copy = l[:]
    return l1_copy
print(Cloning([1,2,3,4,5]))

[1, 2, 3, 4, 5]

**11. Write a Python program to Count occurrences of an element in a list?**

In [11]:
from collections import Counter
def count_ele_in_list(l):
    return Counter(l)
print(count_ele_in_list([1,2,3,45,67,7,5,43,3,4]))

Counter({3: 2, 1: 1, 2: 1, 45: 1, 67: 1, 7: 1, 5: 1, 43: 1, 4: 1})